<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>icon.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.jasonrudolph.LaunchBar.action.emoji-lookup</string>
	<key>CFBundleName</key>
	<string>Emoji Lookup</string>
	<key>CFBundleVersion</key>
	<string>0.9.0</string>
	<key>LBTextInputTitle</key>
	<string>Find an emoji by keyword</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Jason Rudolph</string>
		<key>LBSummary</key>
		<string>Can't remember the exact name of the emoji you're looking for? No problem. Just type whatever comes to mind, and we'll take care of the rest.</string>
		<key>LBTwitter</key>
		<string>@jasonrudolph</string>
		<key>LBWebsite</key>
		<string>https://github.com/jasonrudolph/launchbar-emoji-lookup</string>
    <key>LBUpdateURL</key>
    <string>https://raw.githubusercontent.com/jasonrudolph/launchbar-emoji-lookup/master/emoji-lookup.lbaction/Contents/Info.plist</string>
    <key>LBChangelog</key>
		<string>
			0.9.0: Add support for the new emojis that Apple introduced in macOS 10.13.1 (67 new emojis!)
			0.8.0: Add support for multi-word search terms (e.g., "joy face", "finger up")
			0.7.0: Add support for the new emojis that Apple introduced in 10.12.0 and 10.12.2 (148 new emojis!)
			0.6.1: Fix search result display to render icons for country flag emojis
			0.6.0: Add support for the new emojis that Apple introduced in 10.11.1 (439 new emojis!)
			0.5.0: Denote custom/nonstandard emoji in result list
			0.4.0: Simplify search result display by only outputting the emoji's name and not its long list of keywords
			0.3.0: Support action versioning
			0.2.0: Use the emoji character as the icon for native emojis
		</string>
	</dict>
	<key>LBMinimumLaunchBarVersion</key>
	<integer>6</integer>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>default.js</string>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.11</string>
	<key>LBDebugLogEnabled</key>
	<false/>
</dict>
</plist>
